<footer class="pt-5 my-5 text-muted border-top">
  <div class="row">
    <div class="col-md-6 text-end social-media-icons">
      {% for item in site.data.settings.social %}
        {% if item.icon == 'dblp' %}
          <!-- <a href="{{ item.link }}"><i class="aib ai-google-scholar"></i></a> -->
          <a href="{{ item.link }}" class="ms-3 fs-5"><img src="/assets/dblp_icon.png" alt="DBLP" style="height: 1em;"></a>
        {% elsif item.icon == 'google-scholar' %}
          <!-- <a href="{{ item.link }}" target="_blank" rel="noopener"><i class="ai ai-google-scholar ai-2x"></i></a> -->
          <!-- <a href="{{ item.link }}" target="_blank" rel="noopener"><img src="/assets/google-scholar.svg" alt="Google Scholar" width="32" height="32"></a> -->
      <a href="{{ item.link }}" target="_blank" rel="noopener" class="ms-3 fs-5"><img src="/assets/google-scholar.svg" alt="Google Scholar" width="1em" height="1em"></a>
          <!-- <a href="{{ item.link }}" class="ms-3 fs-5"><i class="ai ai-google-scholar ai-3x"></i></a> -->
        <!-- {% elsif item.icon == 'linkedin' %} -->
          <!-- <a href="{{ item.link }}" class="ms-3 fs-5"><i class="ai ai-google-scholar-square ai-3x"></i></a> -->
        <!-- {% elsif item.icon == 'github' %} -->
          <!-- <a href="{{ item.link }}" class="ms-3 fs-5"><i class="ai ai-google-scholar-square ai-3x"></i></a> -->
        {% else %}
          <a href="{{ item.link }}" class="ms-3 fs-5"><i class="fab fa-{{ item.icon }}"></i></a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</footer>
