<footer class="pt-5 my-5 text-muted border-top">
  <div class="row">
    <div class="col-md-6 text-end social-media-icons">
      {% for item in site.data.settings.social %}
        {% if item.icon == 'dblp' %}
          <a href="{{ item.link }}" class="ms-3 fs-5"><img src="/assets/dblp_icon.png" alt="DBLP" style="height: 2em;"></a>
        {% elsif item.icon == 'google-scholar' %}
          <a href="{{ item.link }}" class="ms-3 fs-5"><img src="/assets/google-scholar.svg" alt="Google Scholar" style="height: 2em;"></a>
        {% else %}
          <!-- <a href="{{ item.link }}" class="ms-3 fs-5"><i class="fab fa-{{ item.icon }}"></i></a> -->
          <a href="{{ item.link }}" class="ms-3" style="font-size: 2em;"><i class="fab fa-{{ item.icon }}"></i></a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</footer>
