---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Courses</h3>
    <p><a href="https://www.gilcohen.org/bdida" target="_blank" rel="noopener noreferrer">Discrete Math (TA) (link to Gil Cohen's site, Hebrew)</a></p>
    <p>
      Tutorial on algorithmic contract Design for teams (EC 2026) -
      <a href="https://yoavgaltzur.github.io/ec26-contracts-tutorial/" target="_blank" rel="noopener noreferrer">website</a>,
      <a href="/EC%20team%20contracts%20tutorial.pdf" target="_blank" rel="noopener noreferrer">slides</a>,
      video (TBD)
    </p>
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Talks</h3>
    <p><a href="https://www.youtube.com/watch?v=Qa0_j70uVYM" target="_blank" rel="noopener noreferrer">Fair Division via Resource Augmentation at the Israeli AGT Day 2025</a></p>
  </div>
</div>
